<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1090521934554-9pbcducdvej472a4cktadulpjli45n49.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzcBr98yAAq6b4g7BTix8xumMVg513N4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1090521934554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projectfirebase-f7d00</string>
	<key>STORAGE_BUCKET</key>
	<string>projectfirebase-f7d00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090521934554:ios:b957ea43a6bf1c8c9813e3</string>
	<key>DATABASE_URL</key>
	<string>https://projectfirebase-f7d00.firebaseio.com</string>
</dict>
</plist>